*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: brown;
}

header>h1{
  color: blanchedalmond;
  text-align: center;
  font-family: sans-serif;
}
.score{
    margin: 20px auto;
    border: 3px solid whitesmoke;
    border-radius: 4px;
    width: 200px;
    font-size: 46px;
    padding: 15px 20px;
    text-align: center;
    font-family: sans-serif;
    color: blanchedalmond;
}
.badge{
    background: green;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: sans-serif;

}
#player{
    position: absolute;
    top: 90px;
    left: 195px;
   

}
#com{
    position: absolute;
    top: 90px;
    left: 405px;
    

}
.result > p {
    text-align: center;
    color:greenyellow;
    font-family: sans-serif;
    font-weight: bold;

}
.choices{
    margin: 50px 0;
    text-align: center;
    

}
.choice{
    margin: 0 20px;
    border: 4px solid green;
    border-radius: 50px;
    display: inline-block;
    transition: all 1.5s ease;
    


}
.choice:hover{
    
    transform: scale(1.5);

}
.choices-com{
    margin: 50px 0;
    text-align: center;
    

}
.choice-com{
    margin: 0 20px;
    border: 4px solid green;
    border-radius: 50px;
    display: inline-block;
    transition: all 1.5s ease;
    


}
.choice-com:hover{
    
    transform: scale(1.5);

}
#action-message{
    font-family: sans-serif;
    color: greenyellow;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
